[MSSQL]
Driver={SQL Server}
Server=DESKTOP-6MJR80M\SQLEXPRESS
Database=Feedback
Trusted_Connection=yes


[ERRORS]
InsertError = "Error: NOT Recorded. Please see Error Log."
UpdateError = "Error: NOT Updated. Please see Error Log."
CreateError = "Error: NOT Created. Please see Error Log."
DeleteError = "Error: NOT Deleted. Please see Error Log."
ConnectionError = "Error: NOT Connected. Please see Error Log."
SelectionError = "Error: NO records found. Please see Error Log."
NoRecordError = "Error: NO records found."

[LOGS]
SelectAllLog = "All records selected."
SelectLog = "Record selected."
InsertLog = "New record inserted."
UpdateLog = "Record updated."
CreateLog = "Table Job created."
DeleteLog = "Record deleted." 


[MESSAGES]
SuccessMessage = "Recorded."
TableMessage = "Table Job created."
IdRequest = Please type ID of the job you want to update: 
StatusRequest = Please select status of the job : Start, Stop, Ignore:  